<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">
    <div class="social-links">
      {%- include social.html -%}
    </div>

    <div class="footer-subscribe-col">
      <p class="feed-subscribe">
        <svg class="svg-icon orange">
          <use xlink:href="{{ 'assets/minima-social-icons.svg#rss' | relative_url }}"></use>
        </svg>
        <a href="{{ site.feed.path | default: 'feed.xml' | absolute_url }}">Subscribe</a>
      </p>
      <p class="footer-copyright">&#169; 2025. All rights reserved.</p>
    </div>
  </div>

</footer>