<script src="{% link /assets/P5Collection/libraries/p5.js %}" type="text/javascript"></script>
<script src="{% link /assets/P5Collection/libraries/p5.dom.js %}" type="text/javascript"></script>
<script src="{% link /assets/P5Collection/libraries/p5.sound.js %}" type="text/javascript"></script>
<script src="{% link /assets/P5Collection/libraries/geometry.js %}" type="text/javascript"></script>
<script src="{% link /assets/P5Collection/libraries/vector.js %}" type="text/javascript"></script>
<script src="{% link /assets/P5Collection/libraries/CCapture.all.min.js %}" type="text/javascript"></script>

<script src="{% link /assets/P5Collection/sierpinsky/triangle.js %}" type="text/javascript"></script>
<script src="{% link /assets/P5Collection/sierpinsky/line.js %}" type="text/javascript"></script>
<script src="{% link /assets/P5Collection/sierpinsky/sierpinski.js %}" type="text/javascript"></script>

<script src="{% link /assets/P5Collection/voronoi/face.js %}" type="text/javascript"></script>
<script src="{% link /assets/P5Collection/voronoi/voronoi.js %}" type="text/javascript"></script>
<script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>

<script src="{% link /assets/P5Collection/collisions/particle.js %}" type="text/javascript"></script>
<script src="{% link /assets/P5Collection/collisions/main.js %}" type="text/javascript"></script>

<script src="{% link /assets/P5Collection/rotation/rotationLine.js %}" type="text/javascript"></script>
<script src="{% link /assets/P5Collection/rotation/rotation.js %}" type="text/javascript"></script>

<script src="{% link /assets/P5Collection/fourierDrawings/fourier.js %}" type="text/javascript"></script>
<script src="{% link /assets/P5Collection/fire/fire.js %}" type="text/javascript"></script>

<style>
    canvas {
        margin:auto;
        width: 800;
        height: 800;
    }
</style>