<script src="{% link /assets/P5Collection/libraries/p5.js %}" type="text/javascript"></script>
<script src="{% link /assets/P5Collection/libraries/p5.dom.js %}" type="text/javascript"></script>
<script src="{% link /assets/P5Collection/libraries/p5.sound.js %}" type="text/javascript"></script>
<script src="{% link /assets/P5Collection/libraries/geometry.js %}" type="text/javascript"></script>
<script src="{% link /assets/P5Collection/libraries/vector.js %}" type="text/javascript"></script>
<script src="{% link /assets/P5Collection/libraries/CCapture.all.min.js %}" type="text/javascript"></script>

<script src="{% link /assets/P5Collection/collisions/particle.js %}" type="text/javascript"></script>
<script src="{% link /assets/P5Collection/collisions/main.js %}" type="text/javascript"></script>
<style>
  canvas {
      margin:auto;
      width: 800;
      height: 600;
  }
</style>