{%- assign social = site.minima.social_links -%}

{%- if social.github -%}<a rel="me" href="https://github.com/{{ social.github | cgi_escape | escape }}" target="_blank" title="{{ social.github | escape }}"><svg class="svg-icon grey"><use xlink:href="{{ '/assets/minima-social-icons.svg#github' | relative_url }}"></use></svg></a>{%- endif -%}
{%- for mst in social.mastodon -%}{%- if mst.username and mst.instance -%}<a rel="me" href="https://{{ mst.instance | cgi_escape | escape}}/@{{mst.username}}" target="_blank" title="{{ mst.username | escape }}"><svg class="svg-icon grey"><use xlink:href="{{ '/assets/minima-social-icons.svg#mastodon' | relative_url }}"></use></svg></a>{%- endif -%}{%- endfor -%}
{%- if social.twitter -%}<a rel="me" href="https://twitter.com/{{ social.twitter | cgi_escape | escape }}" target="_blank" title="{{ social.twitter | escape }}"><svg class="svg-icon grey"><use xlink:href="{{ '/assets/minima-social-icons.svg#twitter' | relative_url }}"></use></svg></a>{%- endif -%}
{%- if social.youtube_channel -%}<a rel="me" href="https://www.youtube.com/channel/{{ social.youtube_channel | cgi_escape | escape }}" target="_blank" title="{{ social.youtube_channel_name | escape | default: 'YouTube' }}"><svg class="svg-icon grey"><use xlink:href="{{ '/assets/minima-social-icons.svg#youtube' | relative_url }}"></use></svg></a>{%- endif -%}

<a style="Text-Decoration: None !important;" target="_blank" rel="me" href="https://orcid.org/{{ social.orcid | cgi_escape | escape }}" title="{{ social.orcid | escape }}">
   <svg 
   version="1.1" 
   id="orcid1" 
   xmlns:dc="http://purl.org/dc/elements/1.1/"
   xmlns:cc="http://creativecommons.org/ns#"
   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
   xmlns:svg="http://www.w3.org/2000/svg"
   xmlns="http://www.w3.org/2000/svg"
	viewBox="0 0 256 256" 
   height="15"
   width="15">
<style type="text/css">
	.st0{fill:#828282;}
	.st1{fill:#FFFFFF;}
</style>
<path class="st0" d="M256,128c0,70.7-57.3,128-128,128C57.3,256,0,198.7,0,128C0,57.3,57.3,0,128,0C198.7,0,256,57.3,256,128z"/>
<g>
	<path class="st1" d="M86.3,186.2H70.9V79.1h15.4v48.4V186.2z"/>
	<path class="st1" d="M108.9,79.1h41.6c39.6,0,57,28.3,57,53.6c0,27.5-21.5,53.6-56.8,53.6h-41.8V79.1z M124.3,172.4h24.5
		c34.9,0,42.9-26.5,42.9-39.7c0-21.5-13.7-39.7-43.7-39.7h-23.7V172.4z"/>
	<path class="st1" d="M88.7,56.8c0,5.5-4.5,10.1-10.1,10.1c-5.6,0-10.1-4.6-10.1-10.1c0-5.6,4.5-10.1,10.1-10.1
		C84.2,46.7,88.7,51.3,88.7,56.8z"/>
</g>
</svg></a>

<a style="Text-Decoration: None !important;" target="_blank" rel="me" href="https://scholar.google.de/citations?user={{ social.google_scholor_user | cgi_escape | escape }}" title="{{ social.google_scholor_user | escape }}">
   <svg 
   xmlns="http://www.w3.org/2000/svg" 
   viewBox="0 0 512 512"
   height="15"
   width="15">
   <path fill="#828282" d="M256 411.12L0 202.667 256 0z"/>
   <path fill="#989898" d="M256 411.12l256-208.453L256 0z"/>
   <circle fill="#A8A8A8" cx="256" cy="362.667" r="149.333"/>
   <path fill="#686868" d="M121.037 298.667c23.968-50.453 75.392-85.334 134.963-85.334s110.995 34.881 134.963 85.334H121.037z"/>
</svg>
</a>

<div style="float: right;">
<span style="display: inline-block;height:100%;vertical-align:middle">
<a rel="me" href="http://www.vadere.org/" target="_blank" title="Vadere">
    <svg
    xmlns:dc="http://purl.org/dc/elements/1.1/"
    xmlns:cc="http://creativecommons.org/ns#"
    xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
    xmlns:svg="http://www.w3.org/2000/svg"
    xmlns="http://www.w3.org/2000/svg"
    version="1.1"
    id="svg2"
    viewBox="0 0 357 76"
    height="15">
   <defs
      id="defs4" />
   <g
      transform="translate(0,-290)"
      id="layer1">
     <text
        id="text2987"
        y="360.68182"
        x="7.1984715"
        style="font-style:normal;font-weight:normal;line-height:0%;font-family:sans-serif;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none"
        xml:space="preserve"><tspan
          style="font-size:72px;line-height:67%;font-family:sans-serif;fill:#828282"
          y="360.68182"
          x="7.1984715"
          id="tspan2989">VADERE</tspan></text>
   </g>
 </svg>
</a>
</sanp>
<a href="{{ 'feed.xml' | relative_url }}">
   <svg class="svg-icon orange">
      <use xlink:href="{{ 'assets/minima-social-icons.svg#rss' | relative_url }}"></use>
   </svg>
</a>
</div>