// Placeholder to allow overriding predefined variables smoothly.
$base-font-family:  'Noto Serif', 'Droid Serif', Georgia, Times, serif;
$base-font-size: 18px;
$headline-font-family: 'Noto Serif', 'Droid Serif', Georgia, Times, serif;
$quote-border:          #2a7ae2 !default;
$page-content-background-color: #2D3748;