// Placeholder to allow overriding predefined variables smoothly.
$base-font-family:  'Noto Serif', 'Droid Serif', Georgia, Times, serif;
//$base-font-family: 'Calluna,serif';
$base-font-size:1.1rem;
$headline-font-family: 'Noto Serif', 'Droid Serif', Georgia, Times, serif;
//$headline-font-family: 'Calluna,serif';
//$headline-font-family: 'Optima', 'Candara', 'Calibri', 'sans-serif';
$quote-border:          #2a7ae2 !default;
$page-content-background-color: #2D3748;
$text-color: #FFF;
$brand-color: #FFF;
$base-font-weight: 100;
$content-width: 1024px;