// Placeholder to allow overriding predefined variables smoothly.
$base-font-family:  'Palatino', 'Droid Serif', Georgia, Times, serif;
$base-font-size: 18px;
$headline-font-family: 'Palatino', 'Droid Serif', Georgia, Times, serif;